<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <!-- <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p> -->
        <img src="{{ site.baseurl }}/assets/images/about/webdevelopment.jpeg" alt="web-development">
        <h4><b>Web Developer</b></h4>
        <h6 class="text-light">who aspires to become a Full-Stack Engineer</h6>

        <br />
        <img src="{{ site.baseurl }}/assets/images/about/nuxt3.jpeg" alt="nuxt3" height="100">
        <h4><b>Vue.js & Nuxt3</b></h4>
        <h6 class="text-light">developer using typescript</h6>

        <br />
        <img src="{{ site.baseurl }}/assets/images/about/spring-2.svg" alt="spring" height="80">
        <h4><b>Nodejs, Java, Django</b></h4>
        <h6 class="text-light">developer, who has a passion for creating REST APIs</h6>

        <br />
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
